# **Group 23: Products4U**

In [0]:
import sqlite3

![ER diagram](https://raw.githubusercontent.com/7-Qin/IST-210-groupproect/master/chart1.png)

```
# This is formatted as code
```

In [10]:
connectionToDatabase = sqlite3.connect('Products4U') 
cursor = connectionToDatabase.cursor()


cursor.execute("drop table if EXISTS Product")
cursor.execute("drop table if EXISTS Logistic")
cursor.execute("drop table if EXISTS Users")
cursor.execute("drop table if EXISTS Order")
cursor.execute("drop table if EXISTS Payment")
connectionToDatabase.commit()

OperationalError: ignored

In [5]:
cursor.execute('''create table IF NOT EXISTS Product (Product_ID text PRIMARY KEY, Product_name text, Product_price text, Product_category text, Product_remaining_stock integer, Product_description text)''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS Logistic (Logistic_ID text PRIMARY KEY, Order_id integer, User_ID text, Order_transportation text, Shipping_Status text)''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS Users (User_ID text PRIMARY KEY, username text, password text, phone_number real, address text, Order_ID text)''')
connectionToDatabase.commit()

cursor.execute('''create table IF NOT EXISTS Order (Order_ID text PRIMARY KEY, Order_placed_date text, Order_total real, Order_transportation text, Order_status text, Product_ID text)''')

cursor.execute('''create table IF NOT EXISTS Payment (Payment_ID text PRIMARY KEY, User_ID real, Order_ID text, Order_placed_date text, Payment_status text)''')
connectionToDatabase.commit()

connectionToDatabase.commit()

OperationalError: ignored

In [11]:
# uploading data to Product

cursor.execute('''INSERT INTO Product values ("Apple","1200","phone","12","Iphone");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Product values ("Acer","900","Laptop","50","Acer Predator");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Product values ("Swatch","90","Wrist watch","10","Swiss wrist watch");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Product values ("Samsung","400","LED TV","30","45 inch LED TV");''')
connectionToDatabase.commit()

OperationalError: ignored

In [12]:
# uploading data to Logistic

cursor.execute('''INSERT INTO Logistic values ("LU001","P4U001","TZA38","Pickup","Shipped");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Logistic values ("LU002","P4U002","MJH212","USPS","Delivered");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Logistic values ("LU003","P4U003", "KJH876", "UPS" , "Ordered");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Logistic values ("LU004","P4U004", "GFD123", "FedEX", "Shippied" );''')
connectionToDatabase.commit()

OperationalError: ignored

In [13]:
# uploading data to Users 

cursor.execute('''INSERT INTO Users values ("TZA38","takshanand1@gmail.com","Water123","8148803368","Hibbs Hall");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Users values ("MJH212","mahendrakunal@hotmail.com","Gandus123","814882345","Chace Hall");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Users values ("KJH876", "khalilhund12@gmail.com", "Khalithegreat123", "1236587556", "Panofsky Hall");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Users values ("GFD123",  "guddandhakkan54@yahoo.com", "GUddiDOll123",  "9654345963" ,"Robinson Hall");''')
connectionToDatabase.commit()

OperationalError: ignored

In [0]:
# uploading data to Order

cursor.execute('''INSERT INTO Order values ("P4U001", "11/22/2019", "300", "USPS" , 'Delivered');''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Order values ("P4U002", "11/21/2019", "200", "UPS" , "Shipped");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Order values ("P4U003", "11/20/2019", "90", "Pick Up" , "Shipped");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Order values ("P4U004", "11/19/2019", "200", "FedEx" , "Ordered");''')
connectionToDatabase.commit()

In [0]:
# uploading data to Payment

cursor.execute('''INSERT INTO Payment values ("PA001", "P4U001", "TZA38", "11/22/2019" , 'Declined');''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Payment values ("PA002", "P4U001", "TZA38", "11/22/2019" , "Processed");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Payment values ("PA003", "P4U002", "MJH212", "11/20/2019" , "Processed");''')
connectionToDatabase.commit()
cursor.execute('''INSERT INTO Payment values ("PA004", "P4U003", "KJH876", "11/19/2019" , "Waiting");''')
connectionToDatabase.commit()

In [0]:
# to view all tables 
cursor.execute('''select * from Product;''')
for i in cursor.fetchall():
    print(i)

('A', 500, 630, 90, 'QC390')
('B', 900, 1200, 180, 'ZB420')
('C', 2100, 10, 190, 'WC982')
('D', 1520, 1840, 200, 'AE333')

In [0]:
cursor.execute('''select * from Logistic;''')
for i in cursor.fetchall():
    print(i)

('A', 'YES', 'NO', 'NO', 'QC390')
('B', 'NO', 'YES', 'NO', 'ZB420')
('C', 'NO', 'NO', 'YES', 'WC982')
('D', 'YES', 'NO', 'YES', 'AE333')

In [0]:
cursor.execute('''select * from Users;''')
for i in cursor.fetchall():
    print(i)

('A', 'YES', 'NO', 'NO', 'NO', 'QC390')
('B', 'NO', 'YES', 'NO', 'NO', 'ZB420')
('C', 'NO', 'NO', 'YES', 'NO', 'WC982')
('D', 'NO', 'NO', 'NO', 'YES', 'AE333')

In [0]:
cursor.execute('''select * from Order;''')
for i in cursor.fetchall():
    print(i)

('A', 'YES', 'NO', 'NO', 'QC390')
('B', 'NO', 'YES', 'NO', 'ZB420')
('C', 'NO', 'NO', 'YES', 'WC982')
('D', 'YES', 'NO', 'NO', 'AE333')

In [0]:
cursor.execute('''select * payment;''')
for i in cursor.fetchall():
    print(i)

('A', 'YES', 'NO', 'NO', 'QC390')
('B', 'NO', 'YES', 'NO', 'ZB420')
('C', 'NO', 'NO', 'YES', 'WC982')
('D', 'YES', 'NO', 'NO', 'AE333')

**Question 1:** What days (top 3) did we make the most money?

In [0]:
cursor.execute('''SELECT Order_placed_date FROM Order ORDER BY Order_placed_date DESC LIMIT 3;''')
for i in cursor.fetchall():
    print(i)

(500, 90)
(900, 180)
(2100, 190)
(1520, 200)

Thanksgiving is coming soon. We need to know some consumer habits before the festival so as to better predict the sales volume during the Thanksgiving period. In this way, we can purchase goods faster to avoid the shortage of goods due to too many orders. This data really has helped us a lot.

**Question 2:** What days (top 3) did we sell the most iPhones?

In [0]:
cursor.execute('''SELECT Product_name, Order_placed_date, Product_remaining_stock from p Product, o Order WHERE p.Product_ID=o.Order_ID AND p.Product_name=”iPhone” AND p.Product_remaining_stock ORDER BY ASC, GROUP BY o.Order_placed_date limit 3; ''')
for i in cursor.fetchall():
    print(i)

('D', 1520, 1840, 200, 'AE333', 'D', 'YES', 'NO', 'YES', 'AE333')
('C', 2100, 10, 190, 'WC982', 'C', 'NO', 'NO', 'YES', 'WC982')
('B', 900, 1200, 180, 'ZB420', 'B', 'NO', 'YES', 'NO', 'ZB420')
('A', 500, 630, 90, 'QC390', 'A', 'YES', 'NO', 'NO', 'QC390')

Near the end of the year is usually a new era for all kinds of new mobile phones. Because the new iPhone has just been released, but other brands of mobile phones will soon have new products launched, so we want to know how the recent iPhone sales can help us better understand whether to purchase more iPhones now or wait for other brands to launch new products, so as to avoid too much backlog.

**Question 3:**  Which users (top 5) ordered the most products grouped by address?

In [0]:
cursor.execute('''select l.User_ID, count(o.Order_ID) from Order o , Logistic l where u.User_ID=l.User_ID GROUP BY address ORDER BY count(o.Order_ID) DESC limit 5; ''')
for i in cursor.fetchall():
    print(i)

(165.0,)

This question is important because as a online store, We need to know which areas order the most products. In this way, we can better understand the shipping patterns and setup warehouses in certain areas to reduce shipping costs.And the results do match up to our expectations.